<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="topper">
    <table>
        <tr>
            <td>
                <form th:action="@{/logout}" method="POST" name="logoutForm" th:id="logout">
                    <button style="font: bold 16px Arial; color: white; background-color: gray" type="submit"
                            value="Logout">Logout
                    </button>
                </form>
            </td>
            <td>
                <form th:action="@{/user/profile}" method="GET" name="profile" th:id="profile">
                    <button style="font: bold 16px Arial; color: white; background-color: gray" type="submit"
                            value="Admins profile">Admins profile
                    </button>
                </form>
            </td>
        </tr>
    </table>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="topper2">
    <table>
        <tr>
            <td>
                <form th:action="@{/logout}" method="POST" name="logoutForm" th:id="logout">
                    <button style="font: bold 16px Arial; color: white; background-color: gray" type="submit"
                            value="Logout">Logout
                    </button>
                </form>
            </td>
        </tr>
    </table>
</th:block>