<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<div th:insert="~{logout :: topper2}"></div>
<br>
<form th:action="@{/admin/user-create}" th:object="${user}" method="post">
    <table>
        <tbody>
        <tr>
            <th style="text-align: left"><label for="firstName">First name: </label></th>
            <td><input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name"></td>
        </tr>
        <tr>
            <th style="text-align: left"><label for="lastName">Last name:</label></th>
            <td><input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name"></td>
        </tr>
        <tr>
            <th style="text-align: left"><label for="age">Age:</label></th>
            <td><input type="number" th:field="*{age}" id="age" placeholder="Age"></td>
        </tr>
        <tr>
            <th style="text-align: left"><label for="email">Email:</label></th>
            <td><input type="email" th:field="*{email}" id="email" placeholder="Email" autocomplete="off"></td>
        </tr>
        <tr>
            <th style="text-align: left"><label for="password">Password:</label></th>
            <td><input type="password" th:field="*{password}" id="password" placeholder="Password"></td>
        </tr>
        <tr>
            <th style="text-align: left"><label for="roles">Roles:</label></th>
            <td>
                <th:block th:each="role: ${roles}">
                    <input id="roles" type="checkbox" th:field="*{roles}" th:text="${role.getRoleName()}" th:value="${role.id}">
                </th:block>
            </td>
        </tr>
        <tr>
            <td style="text-align: right" colspan="2">
                <button style="font: bold 16px Arial; color: dodgerblue" type="submit">Create user</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>